<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="irb6640_205">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />

  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="sim_gazebo_classic" default="false" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="simulation_controllers" default="" />

  <xacro:include filename="$(find abb_irb6640_support)/urdf/irb6640_205/irb6640_205_macro.xacro"/>
  <xacro:include filename="$(find abb_irb6640_support)/urdf/irb6640_205/irb6640_205_macro.ros2_control.xacro"/>

  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:irb6640_205 prefix="$(arg prefix)" >
  </xacro:irb6640_205>

  <xacro:irb6640_205_ros2_control
    name="irb6640_205"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)" />

</robot>
